.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.link{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}