*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100%;
}

.filters{
    display: flex;
    justify-content: flex-start;
}

.select{
    width: 15%;
    height: 1.7em;
    margin: 0 3%;
}

.background{
    width: 100vw;
    height: 100%;
    margin-top: 0.5em;
    background-image: url(../../images/pixelPoke.gif);
    background-attachment: fixed;
}

.cardsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .pagination{
    width: 10em;
    height: 100%;
} */