.container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2em 0 0;
}

.input{
    width: 15em;
    height: 1.7em;
    margin: 0 3%;
}

.button{
    width: 6em;
    height: 1.7em;
}