*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/pokeball.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}