*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/pokeball.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    position: absolute;
    top: 2em
}

.link{
    background-color: #ffffff;
    width: 9.2em;
    height: 7em;
    border-radius: 100%;
    position: fixed;
    top: 39%;
    left:33.1em;
    border-style: solid;
  border-color: #000000;
}

.link:hover{
    background-color: #b30707f9;
}